.icon-style {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: flex-start;
}
.icon {
      font-size: 1rem;
      color: orange;
    }
.empty-icon {
      font-size: 1.6rem;
    }
